{% extends 'breyta/main.html' %}

{% block nav_block%}
<ul class="nav">
    <li class="active ">
        <a href="{% url 'breyta:main' %}">
            <i class="nc-icon nc-bank"></i>
            <p>Inicio</p>
        </a>
    </li>
    <li>
        <a href="{% url 'breyta:billetera' %}">
            <i class="nc-icon nc-diamond"></i>
            <p>Billetera</p>
        </a>
    </li>
    <li>
        <a href="{% url 'breyta:store' %}">
            <i class="nc-icon nc-pin-3"></i>
            <p>Compraventa</p>
        </a>
    </li>
    <li>
        <a href="{% url 'breyta:aboutus' %}">
            <i class="nc-icon nc-icon nc-planet"></i>
            <p>Acerca de nosotros</p>
        </a>
    </li>
</ul>
{% endblock%}


{% block title_block %}
<span class="navbar-brand">Dashboard</span>
{% endblock %}

{% block content_block %}
<center>
    <img src="{{STATIC_URL}}  /static/img/LOGO_nobg.png" width="200" height="150" style="text-align: center ;">
    <h3>Un mundo de posibilidades para manejar tus criptomonedas</h3>
</center>
{% endblock %}